*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Google Sans", sans-serif;
    font-weight:400;
    font-size:16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}
.heroes{
    text-align: center;
    width: 100%;
    padding-left: 30px;
}
.header{
    height:550px;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba(90, 118, 241, 0.8), 
        rgba(112, 196, 252, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 29px -5px rgba(148,148,148,1);
    border-radius: 10px;
}

@media(max-width:600px){
    nav{
        visibility: hidden;
    }
    body{
        padding:0;
        font-size: 50px;
    }
    h3{
        font-size:0.9rem;
    }
    .header{
        border-radius: 0;
    }
    
}
nav{
    float:right;
    margin:20px 20px;
}
li{
    display:inline-block;
    margin: 0px 12px;
}

a.logo{
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    margin: 0px 30px;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color:#fff;
}
nav a:hover{
    padding-top:2px;
    text-decoration: none;
    color: #fff;
}
a.cv{
    color:royalblue;
    background-color: #fff;
    border-radius:50px;
    padding: 7px 30px;
    margin-right:0px;
    display: block;
}
a.cv:hover{
    color:white;
    background-color: rgba(90, 118, 241, 0.2);
    border-radius:50px;
    padding: 5px 28px;
    margin-right:0px;
    display: block;
    border:2px solid white;
}

.pic{
    width: 150px;
    height: auto;
    border-radius:50%;
    border: 10px solid rgba(255,255,255,0.8);
    box-shadow: 0px 0px 29px -5px rgb(247, 247, 247);
}
h1.name{
    font-weight: 500;
    letter-spacing: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
}
h3{
    font-weight: 200;
    text-transform: uppercase;
}
h3.child{
    text-transform: none;
    font-weight: 300;
}
.link{
    padding: 10px 30px;
    background: #fff;
    color:royalblue;
    text-decoration: none;
    border-radius: 50px;
}
.link:hover{
    padding: 8px 28px;
    background: rgba(90, 118, 241, 0.2);
    color:white;
    text-decoration: none;
    border-radius: 50px;
    border:2px solid white;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2.child{
    text-transform: none;
}
.card-container h3::before{
    content:"| ";
    color:rgb(241, 90, 90);
}
.container2 h3::before{
    content:"| ";
    color:rgb(252, 180, 112);
}
.section{
    width:90%;
    background: #fff;
    margin: 60px 5%;
    box-shadow: 0px 0px 29px -5px rgba(148,148,148,1);
    border-radius: 10px;
}
.tile1{
    padding: 10px;
}

.card-container{
    float: left;
    color: rgb(65, 65, 65);
    padding: 15px 20px;
}
.container2{
    background: linear-gradient(to right bottom, rgba(241, 90, 90, 0.8), 
    rgba(252, 180, 112, 0.8));
    border-radius: 10px;
    color:#fff;
    width: 100%;
}
.container4{
    width: 100%;
    background: linear-gradient(to right bottom, rgba(50, 170, 66, 0.8), 
    rgba(144, 214, 86, 0.8));
    border-radius: 10px;
    color:#fff;
    text-align: center;
    padding-top: 35px;
    
}

.container4 h4::before{
    content:"| ";
    color:rgb(250, 252, 112);
}
.card3 h4::before{
    content:"| ";
    color:rgb(88, 190, 111);
}
.card3 p{
    text-transform: uppercase;
    font-weight: 700;
    color:#777;
}
.card3 h4{
    font-weight: 400;
}
tr td{
    padding:6px 25px;
    color: #fff;
}
td.label1{
    font-weight: 500;
    padding-right:20px;
    padding-left: 0px;
    text-transform: uppercase;
}
 .skill{
    margin-top:10px;
    padding: 10px;
}
.education{
    margin-top:10px;
}

.heading2{
    text-align: center;
    color: rgb(54, 54, 54);
}

.progress-bar {
    width: 100%;
    height: 7px;
    border-radius: 50px;
    background-color: #777;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.progress-html{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 70%;
    height: 7px;
    z-index:3;
    border-radius: 50px;
}
.progress-css{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 60%;
    height: 7px;
    z-index:3;
    border-radius: 50px;
}
.progress-bs{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 50%;
    height: 7px;
    z-index:3;
    border-radius: 50px;
}
.progress-js{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 10%;
    height: 7px;
    z-index:3;
    border-radius: 50px;
}
.progress-value{
    float: right;
    font-size: 17px;
}
.progress-badge{
    float: left;
    font-size: 18px;
    font-weight: 600;
}
.progress-badge::before{
content:"| ";
font-weight: 900;
color:rgb(135, 32, 163);
}

.cc-contact-info{
    width:100%;
    position: relative;
    overflow:hidden;
    background: linear-gradient(to right bottom, rgba(241, 90, 90, 0.8), 
    rgba(252, 180, 112, 0.8));
}
.cc-contact{
    padding: 8% 10%;
}
@media (max-width: 767px) {
    .cc-contact-information .cc-contact {
      padding: 30px 0px 30px 0px;
    }
    
  }
.col-md-9.card{
    background: #fff;
    box-shadow: 0px 0px 29px -5px rgba(148,148,148,0.9);
    border-radius: 10px; 
    margin:auto;
}
.title{
    margin-top: 30px;
    margin-bottom: 25px;
}

.input-icons i { 
    position: absolute;
    opacity: 0.5;
} 
  
.input-icons { 
    width: 100%; 
    margin: 10px 10px 25px 0px; 
} 
  
.icon { 
    padding: 10px;
    padding-left: 15px;
    min-width: 40px;
}
.form-control.field-round{
    border-radius: 50px;
    padding-left: 35px;
    padding-bottom: 10px;
}

.form-control.field-round:focus{
    border: 1px solid rgba(241, 90, 90, 0.8);
    outline-style:none;
    box-shadow: none;
}

.form-control.field-round:hover{
    box-shadow:0px 0px 5px -1px rgb(252, 180, 112);
}
.form-control.field-round::placeholder{
    opacity: 0.5;
}

.form-control.area:focus{
    border-bottom: 1px solid rgba(241, 90, 90, 0.8);
    border-top: none;
    border-right: none;
    border-left:none;
    outline-style:none;
    box-shadow: none;
}
.form-control.area{
    border-top: none;
    border-right: none;
    border-left:none;
}

.form-control.area:hover{
    box-shadow:0px 0px 5px -1px rgb(252, 180, 112);
}
.form-control.area::placeholder{
    opacity: 0.5;
}

.btn-danger.send{
    border-radius: 50px;
    background: linear-gradient(to right bottom, rgba(241, 90, 90, 0.9), 
    rgba(252, 180, 112, 0.9));
    border:0px;
    box-shadow:0px 3px 7px 0px rgba(252, 180, 112, 0.8);
    padding: 8px 25px;
}

.btn-danger.send:hover{
    background: linear-gradient(to left top, rgba(241, 90, 90, 0.9), 
    rgba(252, 180, 112, 0.9));
    border:0px;
    box-shadow:0px 3px 10px 0px rgba(241, 90, 90, 0.8);
}

.red{
    color:rgba(241, 90, 90, 0.8);
}

.fa-heart{
    color: rgb(241, 90, 90);
}

.fa-facebook{
    color: rgb(59,89,152);
    padding: 8px 14.5px;
    border:1px solid rgb(59,89,152);
    border-radius: 50px;
}

.fa-facebook:hover{
    color: #fff;
    background: rgb(59,89,152);
    border-radius: 50px;
    padding: 8px 14.5px;
}

.fa-github{
    color: rgb(26, 26, 26);
    padding: 8px 10px;
    border:1px solid rgb(26, 26, 26);
    border-radius: 50px;
}

.fa-github:hover{
    color: #fff;
    background: rgb(26, 26, 26);
    border-radius: 50px;
    padding: 8px 10px;
}

.fa-twitter{
    color: rgb(29,161,242);
    padding: 8px 9px;
    border:1px solid rgb(29,161,242);
    border-radius: 50px;
}

.fa-twitter:hover{
    color: #fff;
    background: rgb(29,161,242);
    border-radius: 50px;
    padding: 8px 9px;
}

.fa-telegram{
    color: rgb(0, 136, 204);
    padding: 8px 8px;
    border:1px solid rgb(0, 136, 204);
    border-radius: 50px;
}

.fa-telegram:hover{
    color: #fff;
    background: rgb(0, 136, 204);
    border-radius: 50px;
    padding: 8px 8px;
}

.fa-linkedin{
    color: rgb(0, 115, 177);
    padding: 8px 10px;
    border:1px solid rgb(0, 115, 177);
    border-radius: 50px;
}

.fa-linkedin:hover{
    color: #fff;
    background: rgb(0, 115, 177);
    border-radius: 50px;
    padding: 8px 10px;
}