*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Red Hat Display";
    font-weight: 500;
    font-size: 16px;
    min-height: 100vh;
    background: var(--pale-blue);
}

/*---Colors---*/

/* Primary */
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
}

/* Neutral */
:root {
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

.wave{
    height: 80vh;
    width:100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

/* Media Queries */
@media (max-width:375px ){
    .wave-full{
        display:none;
    }
}

@media (min-width:375px){
    .wave-mobile{
        display:none;
    }
}

.content{
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 550px;
    width: 350px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-image{
    width: 100%;
    box-sizing: border-box;
}
.card-image img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
}
.card-summary{
    padding: 35px;
}

h1.title{
    font-weight: 900;
    font-size: 1.4em;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 15px;
    color: var(--dark-bluedark-blue);
}

.description{
    display: flex;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
    color: var(--desaturated-blue);
    line-height: 1.5;
}

.pricing{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--very-pale-blue);
    flex-direction: row;
    align-items: center;
    font-size: 0.85em;
    margin-bottom: 25px;
}

.music-icon{
    height: 40px;
    width: 40px;
}

.price{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: var(--desaturated-blue);
    margin-left: 15px;
    margin-top:0px;
    padding: 0;
}

.price-item{
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 0.95em;
    margin-top:-2px;
    margin-bottom: 4px;
    padding: 0;
}
.button-change{
    font-size: 0.8em;
    font-weight: 900;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    justify-content: end;
    text-decoration: underline;
    color: var(--bright-blue);
}

.payment-button{
    font-weight: 700;
    font-size: 0.75em;
    color: var(--very-pale-blue);
    background: var(--bright-blue);
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0px 10px 0;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 15px 15px 0px hsla(245, 75%, 52%, 0.2);
    font-family: Red Hat Display;
}

.cancel-order{
    margin-top: 20px;
    font-size: 0.75em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    background: #fff;
    border: none;
    font-family: Red Hat Display;
    color: var(--desaturated-blue);
}