*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Red Hat Display";
    font-weight: 500;
    font-size: 16px;
    min-height: 100vh;
    background: var(--pale-blue);
}

/*---Colors---*/

/* Primary */
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
}

/* Neutral */
:root {
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

.wave{
    height: 80vh;
    width:100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.wave-path{
    stroke: none;
    fill: hsl(225, 100%, 91%);
    ;
}

.content{
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.card{

} */