*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif !important;
    font-weight:400;
    font-size:16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
    overflow-x: hidden;
}
.heroes{
    text-align: center;
    width: 100%;
    padding-left: 30px;
}
.header{
    height:auto;
    width: 100%;
}

a{
    cursor: pointer;
}

.navbar-nav{
    align-items: center;
}

.navbar .navbar-brand{
    text-transform: none !important;
    color: #888 !important;
    font-size: 2.5rem !important;
    font-weight: 800;
}
.nav-link{
    color: #888 !important;
    font-weight: 700;
    position: relative;
}

.nav-link::before{
    content: "";
  position: absolute;
  width: 50%;
  text-align: center;
  height: 0.1em;
  margin-top: 25px;
  background-color: rgb(252, 123, 106);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  z-index: 30;
}
.nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* .nav-link:hover{
    color:#777 !important;
    background-color: rgba(235, 235, 235, 0.7) !important;
} */

.navbar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:600px){
    body{
        padding:0;
        font-size: 50px;
    }
    h3{
        font-size:0.9rem;
    }
    .header{
        border-radius: 0;
    }
    .navbar.navbar-transparent{
        margin-top: 15px !important;
    }
    .nav-item{
        width: 90%;
    }
    .navbar-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        border-radius:none !important;
    }
    .navbar-icon.discord{
        margin-top: 10px;
    }
    .navbar-icon.discord::before{
        content: "Discord";
        color: #444;
    }
    .navbar-icon.twitter::before{
        content: "Twitter";
        color: #444;
    }
    .navbar-icon.fab.fa-discord{
        font-size: 20px;
    }
    .alt-icon.fab:hover{
        border-radius: none;
    }
    .nav-link:hover::before {
        visibility: hidden;
    }
    .container2{
        margin-top:15px !important;
    }
}

@media(max-width:835px){
    .container2{
        margin-top: 30px !important;
    }
}
@media(max-width:991px){
    .nav-item{
        width: 90%;
    }
    .navbar-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        padding: 5px;
        cursor: pointer;
    }
    .navbar-icon.discord{
        margin-top: 10px;
    }
    .navbar-icon.discord::before{
        content: "Discord";
        color: #888;
    }
    .navbar-icon.discord:hover, .navbar-icon.twitter:hover{
        background: rgba(226, 226, 226, 0.9);
        color: #222;
    }
    .navbar-icon.twitter::before{
        content: "Twitter";
        color: #888;
    }
    .navbar-icon.fab.fa-discord{
        font-size: 20px;
    }
    .nav-link:hover::before {
        visibility: hidden;
    }
    p.h1{
        font-weight: 800 !important;
        font-size:3rem !important;
        line-height: 1;
    }
}

.navbar-transparent{
    margin-top: 30px;
}

ul{
    display: inline-block;
}

li{
    display:inline-block;
    margin: 0px 12px;
}

h3{
    font-weight: 200;
    text-transform: uppercase;
}
h3.child{
    text-transform: none;
    font-weight: 300;
}


h2{
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2.child{
    text-transform: none;
}

.section{
    width:90%;
    margin: 45px 5%;
}
.tile1{
    padding: 10px;
}

.card-container{
    float: left;
    color: rgb(65, 65, 65);
    padding: 15px 20px;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color:#fff;
    width: max-content;
    z-index: index 1;
    border-radius: 20px 150px 20px 150px;
    animation-name: backgroundColorPalette;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes backgroundColorPalette {
	0% {
		background: rgba(255, 98, 98, 0.8);
        box-shadow: 5px 5px 10px 5px rgba(255, 98, 98, 0.3);
	}
	16% {
		background: rgba(255, 174, 98, 0.8);
        box-shadow: 5px 5px 10px 5px rgba(255, 174, 98, 0.3);
	}
	33% {
		background: rgba(255, 252, 98, 0.8);
        box-shadow: 5px 5px 10px 5px rgba(255, 252, 98, 0.3);
	}
	50% {
		background: rgba(98, 255, 176, 0.8);
        box-shadow: 5px 5px 10px 5px rgba(98, 255, 176, 0.3);
	}
	66% {
		background: rgba(98, 153, 255, 0.8);
        box-shadow: 5px 5px 10px 5px rgba(98, 153, 255, 0.3);
	}
    83%{
        background: rgba(153, 98, 255, 0.8);
        box-shadow: 5px 5px 10px 5px rgba(153, 98, 255, 0.3);
    }
    100%{
        background: rgba(255, 98, 247, 0.8);
        box-shadow: 5px 5px 10px 5px rgba(255, 98, 247, 0.3);
    }
}

.img-top-zeb{
    border-radius: 20px 150px 20px 150px;
    overflow: hidden;
    filter: grayscale(100%);
}
.container4{
    width: 100%;
    background: linear-gradient(to right bottom, rgba(50, 170, 66, 0.8), 
    rgba(144, 214, 86, 0.8));
    border-radius: 10px;
    color:#fff;
    text-align: center;
    padding-top: 35px;
    
}

.container4 h4::before{
    content:"| ";
    color:rgb(250, 252, 112);
}
.card3 h4::before{
    content:"| ";
    color:rgb(88, 190, 111);
}
.card3 p{
    text-transform: uppercase;
    font-weight: 700;
    color:#777;
}
.card3 h4{
    font-weight: 400;
}
tr td{
    padding:6px 25px;
    color: #fff;
}
td.label1{
    font-weight: 500;
    padding-right:20px;
    padding-left: 0px;
    text-transform: uppercase;
}
 .skill{
    margin-top:10px;
    padding: 10px;
}
.education{
    margin-top:10px;
}

.heading2{
    text-align: center;
    color: rgb(54, 54, 54);
}

.progress-bar.grey {
    width: 100%;
    height: 7px;
    border-radius: 50px;
    background-color: #dddddd;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.progress-html{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 0;
    height: 7px;
    z-index:3;
    border-radius: 50px;
    transition: width .6s ease;
    
}
.progress-css{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 60%;
    height: 7px;
    z-index:3;
    border-radius: 50px;
}
.progress-bs{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 50%;
    height: 7px;
    z-index:3;
    border-radius: 50px;
}
.progress-js{
    background: linear-gradient(to left,rgb(172,102,192), rgb(135, 32, 163));
    width: 10%;
    height: 7px;
    z-index:3;
    border-radius: 50px;
}
.progress-value{
    float: right;
    font-size: 17px;
}
.progress-badge{
    float: left;
    font-size: 18px;
    font-weight: 600;
}
.progress-badge::before{
content:"| ";
font-weight: 900;
color:rgb(135, 32, 163);
}

.cc-contact-info{
    width:100%;
    position: relative;
    overflow:hidden;
    background: linear-gradient(to right bottom, rgba(241, 90, 90, 0.8), 
    rgba(252, 180, 112, 0.8));
}
.cc-contact{
    padding: 8% 10%;
}
@media (max-width: 767px) {
    .cc-contact-information .cc-contact {
      padding: 30px 0px 30px 0px;
    }
    
  }
.col-md-9.card{
    background: #fff;
    box-shadow: 0px 0px 29px -5px rgba(148,148,148,0.9);
    border-radius: 10px; 
    margin:auto;
}
.title{
    margin-top: 30px;
    margin-bottom: 25px;
}

.input-icons i { 
    position: absolute;
    opacity: 0.5;
} 
  
.input-icons { 
    width: 100%; 
    margin: 10px 10px 25px 0px; 
} 
  
.icon { 
    padding: 10px;
    padding-left: 15px;
    min-width: 40px;
}
.form-control.field-round{
    border-radius: 50px;
    padding-left: 35px;
    padding-bottom: 10px;
}

.form-control.field-round:focus{
    border: 1px solid rgba(241, 90, 90, 0.8);
    outline-style:none;
    box-shadow: none;
}

.form-control.field-round:hover{
    box-shadow:0px 0px 5px -1px rgb(252, 180, 112);
}
.form-control.field-round::placeholder{
    opacity: 0.5;
}

.form-control.area:focus{
    border-bottom: 1px solid rgba(241, 90, 90, 0.8);
    border-top: none;
    border-right: none;
    border-left:none;
    outline-style:none;
    box-shadow: none;
}
.form-control.area{
    border-top: none;
    border-right: none;
    border-left:none;
}

.form-control.area:hover{
    box-shadow:0px 0px 5px -1px rgb(252, 180, 112);
}
.form-control.area::placeholder{
    opacity: 0.5;
}

.btn-danger.send{
    border-radius: 50px;
    background: linear-gradient(to right bottom, rgba(241, 90, 90, 0.9), 
    rgba(252, 180, 112, 0.9));
    border:0px;
    box-shadow:0px 3px 7px 0px rgba(252, 180, 112, 0.8);
    padding: 8px 25px;
}

.btn-danger.send:hover{
    background: linear-gradient(to left top, rgba(241, 90, 90, 0.9), 
    rgba(252, 180, 112, 0.9));
    border:0px;
    box-shadow:0px 3px 10px 0px rgba(241, 90, 90, 0.8);
}

.red{
    color:rgba(241, 90, 90, 0.8);
}


.fa-heart{
    color: rgb(241, 90, 90);
}

.btn.btnBot{
padding: 0px 5px;
}

.alt-icon.fab{
    border: none;
}


.fa-discord{
    color: rgb(115, 138, 219);
    padding: 8px 4.5px;
    border-radius: 50px;
}

.fa-discord:hover{
    color: #fff;
    background: linear-gradient(to bottom left, rgb(115, 138, 219), rgb(177, 115, 219));
    border-radius: 50px;
}

.fa-twitter{
    color: rgb(29,161,242);
    padding: 8px 9px;
    border-radius: 50px;
}

.fa-twitter:hover{
    color: #fff;
    background: linear-gradient(to bottom left, rgb(29,161,242), rgb(163, 170, 255));
    border-radius: 50px;
}

.h3.title.text-center{
    font-weight: 800;
}

/*-----------------*/
.back-to-top{
    display: none;
    
}
.back-to-top.btn-light.btn-lg {
    position: fixed;
    bottom: 45px;
    right: 25px;
    border: none;
    box-sizing: border-box;
    padding: 9px 15px;
    border-radius: 50px;
    background-color: rgb(241, 90, 90);
    box-shadow: 0px 0px 20px -5px rgba(148,148,148,0.9);
}
.fa-chevron-up{
    color: #fff;
}

.btn-link:hover{
    text-decoration: none !important;
}

.intro-container{
    position: relative;
    z-index: index 100;
}

.drop-top{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgba(219, 219, 219, 0.5);
    z-index: index 1;
    border-radius: 20px 50% 50% 50%;
}

.drop-bottom{
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: rgba(255, 153, 106, 0.5);
    z-index: index 1;
    bottom: 0;
    border-radius: 50% 10% 50% 10%;
}

.btn-intro{
    background-color: rgb(101, 185, 121);
    padding: 2px 15px;
    border-radius: 10px 5px 10px 5px;
    color:#fff;
    font-size: 13px;
    font-weight: 600;
}

p.h1{
    font-weight: 800 !important;
    font-size:4rem;
    line-height: 1.1;
}
p.h1 > span{
    color:rgb(252, 122, 122);
    font-weight: 900 !important;
}

p{
    position: relative;
    z-index: 2000;
}

