*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Outfit";
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--main-bg);
}

/*---Colors---*/

/* Primary */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

/* Neutral */
:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

.card{
    box-sizing: border-box;
    padding: 20px;
    background: var(--card-bg);
    height: 500px;
    width: 300px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 20px 0px 15px rgba(0, 0, 0, 0.1),
                0px 20px 0px 40px rgba(0, 0, 0, 0.05);
}

.icon-preview{
    width: 260px;
    height: 260px;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    position: absolute;
    z-index:200;
    background: none no-repeat center hsla(178, 100%, 50%, 0);
}

.icon-preview:hover{
    cursor: pointer;
    background: url('./../images/icon-view.svg')
                no-repeat
                center
                hsla(178, 100%, 50%, 0.4);
    transition-duration: 2000ms;
}

.equilibrium{
    width: 100%;
    height: 260px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.card .content{
    flex: 1;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 20px;
}

.title{
    font-weight: 500;
    color: var(--white);
    font-size: 18px;
    margin-bottom: 15px;
}

.description{
    font-size: 16px;
    color: var(--soft-blue);
    margin-bottom: 20px;
}

.info {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 15px;
    justify-content: space-between;
}

.svg{
    margin-right: 7px;
}

.price{
    font-weight: 500;
    color: var(--cyan);
    align-items: center;
    display: flex;
}

.time{
    color: var(--soft-blue);
    align-items: center;
    display: flex;
}

.line{
    width: 100%;
    height: 0.8px;
    background-color: var(--line);
    margin-bottom: 15px;
}

.artist-info{
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
    color: var(--soft-blue);
    box-sizing: border-box;
    height: 30px;
    align-items: center;
}

.artist-info .avatar{
    width: 30px;
    height: 30px;
    border: 1.75px solid var(--white);
    border-radius: 50%;
    margin-right: 15px;
}

.artist-info .name{
    color: var(--white);
    vertical-align: middle;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.title:hover, .name:hover{
    color: var(--cyan);
    cursor: pointer;
}
